{%extends 'index.html'%}
{%load static%}
{%block contenidoQueCambia%}

<h1>Plantilla Cargar Directivo</h1>
<form action="{% url 'CargaDirectivo'%}" method='POST'> {% csrf_token %}
    <p>Nombre: <input type='text' name='nombre'></p>
    <p>Apellido: <input type='text' name='ap'></p>
    <p>DNI: <input type='number' name='dni'></p>
    <p>Sueldo: <input type='number' name='sueldo'></p>
    <p>Adhonoren: <input type='checkbox' name='adhonoren'></p>

    <input type='submit' value='Enviar'>
</form>

{%endblock%}